{% extends "base.html" %}

{% block body %}
  <form class="form-inline" id="search-bar" action="/search">
    <div class="form-group">
      <label>Phenotype Terms</label>
      <input type="text" class="form-control" placeholder="Enter search terms..." name="search" value="{{ search_term }}">
    </div>
    
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="icd10" value="icd10" checked>
      <label class="form-check-label" for="inlineCheckbox1">ICD10</label>
      <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="msh" value="msh" checked>
      <label class="form-check-label" for="inlineCheckbox2">MESH</label>
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="doid" value="doid" checked>
      <label class="form-check-label" for="inlineCheckbox3">DO-ID</label>
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="umls" value="umls" disabled>
      <label class="form-check-label" for="inlineCheckbox4"> UMLS</label>
      
    </div>
    
         <button type="submit"><i class="fa fa-search">Search</i></button>
  </form>

{% endblock %}